@import 'https://unpkg.com/open-props';

:root {
  --bg-color-card: 200deg 98% 39%;
  --bg-color-search: white;
  --bg-color-track: 198deg 97% 40%;
  --bg-color-thumb: 198deg 97% 75%;
  --text-color-secondary: #75d6ff;
  --bg-gradient: 0deg, hsl(198deg 97% 49%) 0%, hsl(200deg 92% 56%) 26%,
    hsl(201deg 92% 59%) 37%, hsl(201deg 91% 62%) 45%, hsl(201deg 91% 65%) 53%,
    hsl(201deg 91% 67%) 59%, hsl(201deg 92% 70%) 66%, hsl(200deg 92% 72%) 72%,
    hsl(200deg 92% 74%) 78%, hsl(199deg 92% 76%) 85%, hsl(199deg 93% 78%) 92%,
    hsl(199deg 94% 80%) 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: hsl(var(--bg-color-track) / 1);
}

body::-webkit-scrollbar-thumb {
  border-radius: var(--radius-round);
  border: 2px solid hsl(var(--bg-color-track) / 1);
  background: hsl(var(--bg-color-thumb) / 1);
}

.hourly::-webkit-scrollbar {
  background: transparent;
  height: var(--size-2);
}

.hourly::-webkit-scrollbar-track {
  background: transparent;
}

.hourly::-webkit-scrollbar-thumb {
  border-radius: var(--radius-round);
  background: hsl(var(--bg-color-thumb) / 1);
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
}

html {
  color: var(--gray-0);
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-2);
  line-height: var(--font-lineheight-3);
  background-image: linear-gradient(var(--bg-gradient));
  padding: var(--size-2);
  max-width: var(--size-content-3);
  min-height: 100vh;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: var(--font-size-8);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-fluid-1);
  position: relative;
}

.search-label {
  display: block;
  position: relative;
}

.search-title {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.search-form {
  z-index: 20;
}

.search-form img {
  position: absolute;
  height: var(--size-4);
  left: var(--size-2);
  top: 0;
  bottom: 0;
  margin-block: auto;
}

.search-form input {
  width: 100%;
  color: var(--gray-10);
  font-size: inherit;
  border: transparent;
  padding: var(--size-2);
  border-radius: var(--radius-round);
  text-indent: var(--size-5);
}

.search-form input:focus-visible {
  outline: 2px solid hsl(var(--bg-color-card) / 0.5);
}

.search-input-shadow {
  box-shadow: var(--shadow-2);
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--size-1);
  position: absolute;
  z-index: 10;
  width: 100%;
  top: var(--size-4);
  padding-top: var(--size-6);
  padding-bottom: var(--size-2);
  background-color: var(--bg-color-search);
  border-bottom-right-radius: var(--radius-3);
  border-bottom-left-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
}

.search-results li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray-10);
  padding-inline: var(--size-3);
  cursor: pointer;
}

.search-results li:hover {
  background-color: hsl(var(--bg-color-card) / 0.1);
}

.search-results .city-other {
  font-size: var(--font-size-fluid-0);
  color: var(--gray-6);
}

.current-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: var(--size-3);
}

.current-temp-icon {
  display: flex;
  justify-content: space-between;
}

.current-temp-icon .temp {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-grow: 1;
}

.current-temp {
  font-size: clamp(3.5rem, 5vw, 4rem);
}

.descr,
.apparent-temp {
  font-size: var(--font-size-fluid-1);
}

.current-wrapper .icon {
  max-width: var(--size-11);
}

.card {
  background-color: hsl(var(--bg-color-card) / 0.4);
  border-radius: var(--radius-3);
  padding: var(--size-3);
}

.hourly {
  display: grid;
  justify-content: start;
  justify-items: center;
  align-items: center;
  gap: var(--size-1) var(--size-2);
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(24, 1fr);
  overflow-x: scroll;
}

.hourly img,
.daily img {
  max-width: var(--size-fluid-3);
}

.hourly .time {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-3);
  color: var(--blue-2);
}

.hourly .temp,
.daily .temp {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: var(--font-weight-7);
}

.hourly .precip,
.daily .precip {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-3);
  color: var(--blue-2);
  display: flex;
  align-items: center;
}

.precip::before {
  display: inline-block;
  content: '';
  background-image: url('/src/assets/icons/droplet-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.8rem;
  height: 0.8rem;
}

.daily {
  display: grid;
  justify-content: start;
  justify-items: center;
  align-items: center;
  gap: var(--size-3) var(--size-2);
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.day {
  justify-self: start;
}

.current-other-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--size-2);
}

.current-other-wrapper .title {
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-3);
  color: var(--blue-2);
}

.current-other-wrapper .value {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: var(--font-weight-7);
}

.aqi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-fluid-0);
}

.footer a {
  text-decoration: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .current-other-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .aqi {
    grid-column: span 3;
  }
}
